pipeline/get_indices_api.json
{
	"name": "get_indices_api",
	"properties": {
		"activities": [
			{
				"name": "get_data_api",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://economia.awesomeapi.com.br/last/BTC-BRL",
					"method": "GET"
				}
			},
			{
				"name": "Cotacao",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_data_api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "cotacao",
					"value": {
						"value": "@{activity('get_data_api').output.BTCBRL.ask}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Ativo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_data_api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ativo",
					"value": {
						"value": "@{activity('get_data_api').output.BTCBRL.code}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "data",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_data_api",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "data",
					"value": {
						"value": "@{activity('get_data_api').output.BTCBRL.create_date}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SQL_Bd",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Cotacao",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Ativo",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "INSERT INTO dbo.cotacoes (ativo, cotacao, data)\nVALUES ('@{variables('ativo')}', '@{variables('cotacao')}', '@{variables('data')}')\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"ativo": {
				"type": "String"
			},
			"cotacao": {
				"type": "String"
			},
			"data": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-02T17:13:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}